@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url("webfonts/Arizonia_Regular/stylesheet.css");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}


.container{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #000;
	overflow: hidden;
}

.tabs input{
	visibility: hidden;
	display: none;
}

.buttons{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50px);
	display: flex;
	gap: 10px;
	z-index: 10000000;

}

.buttons label{
	width: 20px;
	height: 20px;
	background: #fff;
	opacity: 0.5;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;

}

.tabs input:nth-child(1):checked ~ .buttons
label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons
label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons
label:nth-child(3)

{
	opacity: 1;
	width: 50px;

}

.content {
	position: relative;
	width: 300vw;
	display: flex;
	transition: 0.5s;
	
}

.content .box {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	padding: 40px;
	

}

.content .box:nth-child(1) {
	/*background: linear-gradient(90deg,#43cea2,#185a9d);*/
	background-image: url("Home1.2.jpg");
	background-size: cover;
}

.content .box:nth-child(2) {
	/*background: linear-gradient(90deg,#ff4e50,#f9d423);*/
	background-image: url("Home3.1.jpg");
	background-size: cover;
}

.content .box:nth-child(3){
	/*background: linear-gradient(90deg,#9d50bb,#6e18aa);*/
	background-image: url("Home2.1.jpg");
	background-size: cover;
}
.tabs input:nth-child(1):checked ~ .content {
	left: 0;
	
}
.tabs input:nth-child(2):checked ~ .content {
left: -100vw;
}
.tabs input:nth-child(3):checked ~.content {
	left: -200vw;
}

.content .box .ContentBx{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 9px;
	
}
.content .box .ContentBx ion-icon {
	font-size: 15em;
	color: #FFF;
	--ionicon-stroke-width: 20px;
}

.content .box .ContentBx h2 {
    font-size: 3em;
    color: #FFF;
    font-family: Arial;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #1450F1;
    text-transform: uppercase;
    background-position: 0% 0%;
}




.content .box .ContentBx p{
    font-size: 1em;
    color: #fff;
    max-width: 700px;
    text-align: center;
    font-family: Arial;
	font-weight: bold
    
   
}


.content .box .ContentBx button{
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
	font-weight: bold;
    padding: 15px 35px;
	color: #000;
    letter-spacing: 0.05em;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    transition: 0.5s;
    background-color: #fff;
	
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #000000;
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
}



.box.Publish .ContentBx button:hover {
	letter-spacing: 0.2em;
}
.box.Publish .ContentBx button a{
	text-decoration: none;	
	color: #000;
}


.box.Print .ContentBx button a{
	text-decoration: none;	
	color: #000;
}
.box.Print .ContentBx button:hover{
	letter-spacing: 0.2em;*/
	
}
.box.Education .ContentBx button a{
	text-decoration: none;	
	color: #000;
}
.box.Education .ContentBx button:hover{
	letter-spacing: 0.2em;
}

.main {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.icon a .img-fluid:hover {
	transform: scale(1.8);
	transition: 1.0s ease-in-out;
}


.navbar-nav.mr-auto .nav-item .nav-link {
    color: #000000;
}

.icon a{
	text-decoration: none;
	color: #fff;
}

.icon ion-icon{
	color: #000A7A;
	font-size: 20px;
	padding-left: 14px;
	padding-top: 5px;
	transition: 0.5s ease-in-out;
}

.icon ion-icon:hover{
	/*color: #03AD1C;*/
	transform: scale(1.5);
	transition: 0.5s ease-in-out;
}

.navbar-nav.mr-auto .nav-item .nav-link {
    color: #000A7A;
}
.navbar-nav.mr-auto .nav-item .nav-link:hover{
	/*transform: scale(1.5);*/
	color: #F1AE04;
	transition: 0.5s ease-in-out;
}

.navbar-nav.mr-auto .nav-item .nav-link:active{
	background-color: purple;
	}
/*////////////////////////////////////// 			CSS For Other Pages ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #000;
	overflow: hidden;
}

.tabs2 input{
	visibility: hidden;
	display: none;
}

.buttons2{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50px);
	display: flex;
	gap: 10px;
	z-index: 10000000;

}

.buttons2 label{
	width: 20px;
	height: 20px;
	background: #000;
	opacity: 0.5;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;

}

.tabs2 input:nth-child(1):checked ~ .buttons2
label:nth-child(1),
.tabs2 input:nth-child(2):checked ~ .buttons2
label:nth-child(2),
.tabs2 input:nth-child(3):checked ~ .buttons2
label:nth-child(3)
.tabs2 input:nth-child(4):checked ~ .buttons2
label:nth-child(4)

{
	opacity: 1;
	width: 50px;

}

.content2 {
	position: relative;
	width: 300vw;
	display: flex;
	transition: 0.5s;
	
}

.content2 .box {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	padding: 40px;
}

.content2 .box:nth-child(1) {
	background-image: url("About1.jpg");
	background-size: cover;
}

.content2 .box:nth-child(2) {
background: linear-gradient(90deg,#ff4e50,#f9d423);
	
	
}

.content2 .box:nth-child(3){
background: linear-gradient(90deg,#43cea2,#185a9d)
}
.content2 .box:nth-child(4) {
background: linear-gradient(90deg,#ff4e50,#f9d423);
}

.tabs2 input:nth-child(1):checked ~ .content2 {
	left: 0;
	
}
.tabs2 input:nth-child(2):checked ~ .content2 {
left: -100vw;
}
.tabs2 input:nth-child(3):checked ~.content2 {
	left: -200vw;
}

.tabs2 input:nth-child(4):checked ~.content2 {
	left: -300vw;
}

.content2 .box .ContentBx{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 9px;
	
}
.content2 .box .ContentBx ion-icon {
	font-size: 15em;
	color: #FFF;
	--ionicon-stroke-width: 20px;
}

.content2 .box .ContentBx h2 {
    font-size: 3em;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bolder;
    text-transform: uppercase;
    background-position: 0% 0%;
}




.content2 .box .ContentBx p{
    font-size: 1em;
    color: #fff;
    max-width: 700px;
    text-align: center;
    font-family: Arial;
	font-weight: bold
    
   
}


.content2 .box .ContentBx button{
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
	font-weight: bold;
    padding: 15px 35px;
	color: #000;
    letter-spacing: 0.05em;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    transition: 0.5s;
    background-color: #fff;
	
}
.box.Learn .ContentBx button:hover {
	letter-spacing: 0.2em;
}
.box.Info .ContentBx button a{
	text-decoration: none;	
	color: #000;
}


.box.Service .ContentBx button a{
	text-decoration: none;	
	color: #000;
}
.box.Info .ContentBx button:hover{
	letter-spacing: 0.2em;
	
}
.box.Service .ContentBx button a{
	text-decoration: none;	
	color: #000;
}
.box.Service .ContentBx button:hover{
	letter-spacing: 0.2em;
}





